<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- REQUIRED: Permissions must be direct children of the <manifest> tag -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attendance">

        <!-- Standard Activity Declarations -->
        <activity android:name=".Student"/>
        <activity android:name=".StudentLogin"/>
        <activity android:name=".Attendance"/>
        <activity android:name=".ui.AttendanceActivity"/>

        <!-- MAIN LAUNCHER ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- CORRECT: Intent-filter properly contains action and category -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NOTE: The incorrect <category> and <action> tags near the top have been removed. -->

    </application>
</manifest>
